.main-nav-bar{
  height: 60px;
  width: 100%;
  display: flex; 
  justify-content: flex-end;
  background: #282c34;
  color: #ffffff;
  font-size: 15px;
  align-items: center;
  box-shadow: 0 5px 5px -5px #333;
}

.main-nav-bar .nav-cards-container{
  margin-right: 15px;
  margin-left: 12px;
}
.main-nav-bar .nav-cards-container>*{
  margin-right: 15px;
}

.main-nav-bar #add-new-container{
  display: none;
}

.main-nav-bar #community:hover{
  cursor: pointer;
}

.main-nav-bar #sign-out-btn{
  border: none;
}

.main-nav-bar #sign-out-btn:hover{
  min-width: 140px;
  transition: 0.3s ease;
}